<h1>#view</h1>

<p id="count">
    <% if @result.nil? %>
        <%= 'Ошибка ввода' %>
    <% else %>
        <%= "Количество: #{@count}"%>
    <% end %>
</p>


<p id="result"></p>
<table border="1">
    <tr>
        <th>Номер</th>
        <th>Число</th>
    </tr>
    <% @result.each do |row| %>
    <tr>
        <% row.each do |value| %>
        <td>
            <%= value %>
        </td>
        <% end %>
    </tr>
    <% end %>
</table>

<p> <%= link_to "Ввести другое число", :mersen_input %> </p>
